__pycache__/main.cpython-37.pyc
__pycache__/renderer.cpython-37.pyc
.vscode/launch.json
__pycache__/resources.cpython-37.pyc
__pycache__/logger.cpython-37.pyc
__pycache__/cfg.cpython-37.pyc
log.txt
log.txt
__pycache__/test.cpython-37.pyc
__pycache__/events.cpython-37.pyc
__pycache__/cfg.cpython-36.pyc
log.txt
__pycache__/events.cpython-36.pyc
__pycache__/logger.cpython-36.pyc
__pycache__/renderer.cpython-36.pyc
__pycache__/resources.cpython-36.pyc
log.txt
__pycache__/events.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
__pycache__/resources.cpython-37.opt-1.pyc
__pycache__/renderer.cpython-37.opt-1.pyc
__pycache__/logger.cpython-37.opt-1.pyc
__pycache__/events.cpython-37.pyc
__pycache__/events.cpython-37.opt-1.pyc
__pycache__/cfg.cpython-37.opt-1.pyc
__pycache__/events.cpython-37.pyc
__pycache__/mainmenu.cpython-37.pyc
__pycache__/elements.cpython-37.pyc
